Source: gst-plugin-livesync
Section: libs
Priority: optional
Maintainer: GStreamer Rust Plugins Maintainers <gstreamer-rust@lists.freedesktop.org>
Build-Depends: debhelper-compat (= 13),
               libgstreamer1.0-dev (>= 1.16.0),
               libgstreamer-plugins-base1.0-dev (>= 1.16.0),
               pkg-config
Standards-Version: 4.6.2
Homepage: https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs
Vcs-Browser: https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs
Vcs-Git: https://gitlab.freedesktop.org/gstreamer/gst-plugins-rs.git
Rules-Requires-Root: no

Package: gst-plugin-livesync
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         gstreamer1.0-plugins-base (>= 1.16.0),
         libgstreamer1.0-0 (>= 1.16.0)
Recommends: gstreamer1.0-tools
Suggests: gstreamer1.0-plugins-good,
          gstreamer1.0-plugins-bad
Description: GStreamer livesync source plugin
 GStreamer plugin providing priority-based input selection.
 This plugin contains:
  - livesync: Automatically keep live source valid
 .
 These elements are useful for live streaming applications requiring high
 availability, allowing the live stream to stay valid despite missing frames.